# Vercel 대시보드 Environment Variables에도 동일하게 등록하세요
VITE_FIREBASE_API_KEY=AIzaSyA9fPajbsxflSB26VEE6_TTlF1lRlxSZ_Q
VITE_FIREBASE_AUTH_DOMAIN=april-cms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=april-cms
VITE_FIREBASE_STORAGE_BUCKET=april-cms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=786919561698
VITE_FIREBASE_APP_ID=1:786919561698:web:b29a2ced76be41d2e301bb
